.content-title {
    font-weight: bold !important;
}

.tp-caption p{
    padding: 0.7rem;
    border-radius: 5px;
    background-color: rgba(128, 115, 115,.3);
    font-size: 2rem;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.teachers-img {
    margin: 0 auto;
    max-width: 100%;
}

.no-events {
    text-align: center;
    padding: 1.3rem;
}

.gallery-items .item{

    /* margin: 0 auto; gives problems with the bottom an top margins */
    margin-left: auto;
    margin-right: auto;
}

/* @media (width: 200px) {
    .teachers-img {
      width: 20px !important;
    }
  } */

